#!/usr/bin/env python3
import sys

def solve(data: str) -> str:
    # TODO: implement you solution here
    return ""

def main() -> None:
    data = sys.stdin.read()
    out = solve(data)
    if out is None:
        return
    sys.stdout.write(str(out))
    if len(str(out)) == 0 or not str(out).endswith("\n"):
        sys.stdout.write("\n")

if __name__ == "__main__":
    main()