# internal/solve/templates/cpp/main.cpp.tmpl
#include <bits/stdc++.h>
using namespace std;

int main() {
    ios::sync_with_stdio(false);
    cin.tie(nullptr);

    // TODO: parse + implement
    // Example:
    // int n;
    // if (!(cin >> n)) return 0;
    // cout << n << "\n";

    return 0;
}